.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding: 1rem 0;
  background-color: #f8f5e9;
}

.pagination-btn,
.pagination-page {
  all: unset;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.3rem 0.6rem;
  color: #111;
  transition: color 0.2s, transform 0.1s;
}

.pagination-page:hover,
.pagination-btn:hover {
  color: #6b3ef7;
  transform: scale(1.05);
}

.pagination-page.active {
  font-weight: 700;
  color: #6b3ef7;
  border-bottom: 2px solid #6b3ef7;
}

.pagination-btn:disabled {
  opacity: 0.4;
  cursor: default;
}
